@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum/Cuprum-Regular.ttf);
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans/PTC55F.ttf);
}


body{
  padding:0;
  margin: 0;
  font-family: 'Cuprum', 'Arial','Tahoma', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
q{
  quotes: "\00ab" "\00bb";
}


.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav a{
  text-transform: capitalize;
}

.container h3{
  text-transform: uppercase;
}
 .goods_old_price {
  text-decoration: line-through;
}
.main_footer ul li a{
  text-transform: capitalize;
}
.goods_card {
  list-style-type:none;
}

.goods_btn{
  display:none;
}


/*Popup*/

.cart_popup{
  display: none;
  margin:0px auto;
  width:620px;
  box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  border-top: 7px solid #ee3643;

}

.cart_popup_content {
  text-align: center;
  padding-top: 68px;
  padding-bottom: 40px;
  font-size: 30px;

}

.cart_popup_btn {
  background-color: #f1f1f1;
  text-align: center;
  margin:0;
  text-transform: uppercase;
  padding-top: 51px;
  padding-bottom: 51px;

}

.checkout_btn{
  width: 220px;
  min-height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 14px 58px 14px 62px;
  border-radius: 5px;
  margin-right: 20px;
}

.continue_btn {
  width: 220px;
  min-height: 38px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 14px 47px 12px 44px;
  border-radius: 5px;
}

.cart_popup_close_img{
  margin-top: 9px;
  margin-right: 9px;
}

.cart_popup_mark_img {
  margin-bottom: 15px;
  margin-right: 20px;
}


.write-us_popup{
  display:none;
  margin:0px auto;
  width:620px;
  box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  border-top: 7px solid #ee3643;
 }

.write-us_popup_form{
  margin: 0px auto;
  width: 460px;
  padding-top: 52px;
  padding-bottom: 37px;

}

label{
  display: inline-block;
  margin-bottom: 13px;

}
.write-us_popup_input {
  display: inline-block;
  width:220px;
  margin-right: -4px;
  margin-bottom: 19px;

}

.write-us_popup_input input{
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  fint-size: 13px;
  color: #a9a9a9;
  width: 220px;
  box-sizing: border-box;
  width: 220px;
}

.indent{
  margin-left: 20px;

}

.write-us_popup_btn{
  background-color: #f1f1f1;
  text-align: center;
  margin:0;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 37px;

}

.write-us_popup_btn input[type="submit"] {
  width: auto;
  height: auto;
  padding: 14px 198px;
  color: #ffffff;
  background: #ee3643;
  border: none;
  border-radius: 5px;
}


.write-us_popup_form textarea{
  width: 441px;
  padding-top: 13px;
  padding-left: 15px;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  fint-size: 13px;
  color: #a9a9a9;
  overflow: hidden;
}

.map_popup {
  display:none;
  width: 940px;
  height: auto;
  margin: 0px auto;
  box-shadow: 0px 0px 16px rgba(47, 42, 43, 0.5);
  position: relative;
}

.map_popup_close_img{
  position: absolute;
  top: 9px;
  right: 9px;

}
.write-us_popup_close_img{
  margin-top: 9px;
  margin-right: 9px;
}


/*Header*/

.header{
  margin: 0 auto;
  background-color: #f3f7f8;
  width: 1200px;
}

.top_header{
  background-color: #293449;
  margin-bottom: 20px;
}

.top_header_wrapper{
  margin: 0 auto;
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;

}
.top_header a{
  font-size: 17px;
  line-height: 1.06;
  letter-spacing: normal;
  color: #ffffff;
}

.top_header_logo{
  background-color: #ee3643;
  box-shadow: 0px 5px 0 0 #b52933;
  text-align: center;
  padding: 12px 56px 8px 55px;

}

.top_header_logo:hover {
  background-color: #ca2c37;
}

.top_header_navigation{
  display: flex;
  position: relative;


}
.top_header_navigation a{
  display: block;


}

.top_header_navigation a:hover{
  background-color: #212a3a;
}

.top_header_navigation a:active{
  opacity: 0.5;
  background-color: #161d29;

}

.top_header_search {
  fint-size: 17px;
  line-height: 18px;
  position: relative;
}

.top_header_search input {
  font: inherit;
  color: #fff;
  background-color: #293449;
  border-color: transparent;
  padding: 10px 30px 10px 47px;
  min-width: 189px;
}

.top_header_icon_search{
  position: absolute;
  top:12px;
  left: 17px;
  z-index: 100;
}



.top_header_search input:hover{
  background-color: #212a3a;
}

.top_header_search input:hover + .top_header_icon_search path{
  opacity: 1;

}

.top_header_search input:focus {
  background-color: #fff;
  color: #000;
}

.top_header_icon_search path{
  opacity: 0.3;
}


.top_header_search input:focus + .top_header_icon_search path{
 fill: #ee3643;
  opacity: 1;
}


.top_header_search input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color:#fff;
}

.top_header_search input::-moz-placeholder, :-moz-placeholder{
  font-size: 17px;
  line-height: 18px;
  color:#fff;
  opacity: 1;
}



.top_header_bookmark{
 position: relative;
  padding:12px 0px 8px 50px;
  width: 100px;

}
.top_header_bookmark::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 14px;
  height: 16px;
  top: 12px;
  left:18px;
}

.top_header_bookmark:hover::before {
  opacity: 1;
}

.top_header_bookmark:active::before{
  opacity: 0.5;

}

.top_header_cart{
  position: relative;
  padding:12px 0px 12px 50px;
  width: 100px;

}

.top_header_cart::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  top: 12px;
  left:19px;
}

.top_header_cart:hover::before {
  opacity: 1;
}

.top_header_cart:active::before{
  opacity: 0.5;
}

.not_empty{
  background-color: #ee3643;
}



.top_header_navigation .top_header_cart_btn {
  background-color: #63a63e;
  padding:12px 0px 8px 21px;
  width: 129px;

}
.top_header_navigation .top_header_cart_btn:hover{
  background-color: #5fbb2d;
}

.top_header_navigation .top_header_cart_btn:active{
  background-color: #518534;

}


.main_header_wrapper{
  display: flex;
  width: 940px;
  margin: 0 auto;

  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
}

.main_header_headline{
  background-color: #f3f7f8;
  font-style: italic;
  font-size:16px;
  line-height: 23px;
  color: #ee3643;
  margin-top: 30px;
  padding-left: 50px;

}

.main_header_info{
  margin-left: 68px;

}

.main_header_phone{
  min-width: 189px;
  border: solid 3px #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 1;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  position:relative;
  margin-top:25px;
  margin-bottom: 5px;
  padding-left: 75px;
}

.main_header_phone::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
top:9px;
  left:15px;

}

.main_header_address{
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
  margin: 0;
  padding: 0;
}
.header_login_wrapper{
  margin-left: 55px;

}

.my_orders, .private_office{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  text-transform: inherit;
  margin-top:5px;
  display: inline-block;
  margin-left: 18px;
  margin-right: 15px;
}

.my_orders:hover, .private_office:hover{
   color: #ee3643;
 }

.my_orders:active, .private_office:active{
  opacity: 0.3;
  color: #32425c;
}

.my_orders::after {
  position: absolute;
  content: "";
  top:5px;
  left: 90px;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50%;
}

.main_header_login{
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  padding: 25px 0 0;
  margin: 0 0 0 auto;
}

.main_header_login li{
  list-style-type: none;
  height: 45px;
}

.main_header_login a{
  display: block;
  position: relative;
  padding: 12px 0;

}
.header_login_enter_btn a, .header_login_registration_btn a {
  font: inherit;
  color: #000;
  font-size: 21px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;

}


.header_login_enter_btn{
  background-color: #fff;
  min-width: 96px;

  padding-left: 25px;
}

.header_login_registration_btn{
  background-color: #fff;
  min-width: 150px;
  text-align: center;
  margin-left: 10px;
}

.header_login_registration_btn a{
  text-align: center;

}
.header_login_enter_btn a:hover{
   color: #ee3643;
 }
.header_login_enter_btn a:active{
   opacity: 0.3;
   color:black;
 }
.icon_login {
 position: absolute;
  top:14px;
  left:-10px;
}

.header_login_registration_btn a:hover{
  color: #ee3643;

}

.header_login_registration_btn a:active{
  opacity: 0.3;
  color:black;
}

.header_login_enter_btn a:hover path{
  fill:#6c778a;
}


.login_img{
  margin-top:14px;
}
a svg:hover .login_img{
fill: #32425c;
}

/*Главное меню*/

.main_header{
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.main_header_navigation{
  margin: 0 auto;
  width: 940px;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;

}
.main_header_navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}

.header_site_navigation{
  display: flex;
  flex-wrap: wrap;
}
.header_site_navigation a{
  display: block;
  padding: 21px 31px;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  text-transform: capitalize;
}

.header_site_navigation a:hover{
   background-color: #1d2739;
 }

.header_site_navigation a:active{
  background-color: #1d2739;
  opacity: 0.5;
}


.index_columns{
  width:940px;
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto 80px;

}

.about h3, .contacts h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about p, .contacts p{
  font-family:'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

}
.contacts p{
  margin-bottom: 30px;

}
.about ul {
  list-style-type: none;
}

.btn{
  display:block;
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
}
.btn:hover {
  background-color: #ca2c37;
}

.btn:active{
  background-color: #ba2732;

}
.about .btn {
  padding: 12px 0px;
  width: 220px;
  margin-top: 51px;
}
.about_items{
  padding: 0;
  margin: 0 0 35px;
}

.about_item{
  font-size: 18px;
  line-height: 20px;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
}



.about_item::before{
  content: "";
  position: absolute;
  background-image: url(../img/content/dash.png);
  width: 25px;
  height: 2px;
  top:8px;
  left:0px;
}


.contacts .btn{
  padding: 12px 0;
  margin-top: 40px;
}



.footer_logo{
  width: 220px;
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  height:45px;
  padding-top: 23px;


}
.wrapper_footer_navigation{
  width: 940px;
  margin: 0 auto;
margin-bottom: 50px;

}

.footer_navigation{
  display: flex;
  margin-bottom: 20px;
}



.footer_navigation ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 0 0 auto;
}

.footer_site_navigation li{
  margin-left: 60px;
  margin-top: 35px;

}

.footer_site_navigation a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.footer_site_navigation a:hover{
  text-decoration: underline;

}

.footer_site_navigation a:active{
  text-decoration: none;
  opacity: 0.5;

}

.main_footer{
  margin-top: 25px;
}

.main_footer_contacts{
  color: #fff;
  font-size:18px;
  line-height: 24px;
}

.main_footer_offers{
  display: flex;
  justify-content: space-between;

}

.main_footer_offers ul{
 list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_offers_navigation{
  display: flex;
}

.footer_offers_navigation li{
  margin-left: 60px;
}

.footer_offers_navigation a{
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer_offers_navigation a:hover{
  text-decoration: underline;
}

.footer_offers_navigation a:active{
  text-decoration: none;
  opacity: 0.5;
}


.main_footer{
  background-color: #32425c;
}
.footer_info{
  background-color: #293449;
 padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper_footer_info{
  display: flex;


}

.footer_copyright{
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer_social_links{
  padding: 0;
  margin: 0;
  display: flex;
  width: 133px;
  justify-content: space-between;
  margin-left: 160px;
}

.footer_social_links li{
  list-style-type: none;
}

.social_link a {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.social_link a:hover {
  background-color: #ee3643;

}
.vk{
  background-image: url(../img/svg/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.fb{
  background-image: url(../img/svg/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.insta{
  background-image: url(../img/svg/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.footer_feedback{
  margin-left: 120px;

}

.footer_developer{
  margin-left: auto;

}
.footer_feedback, .footer_developer{
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.footer_feedback_mail a, .footer_developer_site a{
  color: #ffd180;
}

.footer_feedback_mail a:hover{
  text-decoration: underline;
}

.footer_feedback_mail a:active{
  color: #ee3643;
  text-decoration: none;
}

.footer_developer_site a:hover{
  text-decoration: underline;
}




.footer_developer_site a:active{
  color: #ee3643;
  text-decoration: none;
}

.popular_goods, .popular_brands, .services, .wrapper_footer_info, .main_footer_offers{
  width:940px;
  margin: 0 auto;
}

/*Каталог*/
/*Breadcrumbs*/

.catalog_breadcrumbs{
  width: 940px;
  padding: 0;
  display: flex;
  margin: 0 auto 20px;
  font-family: "PT Sans", Arial, sans-serif;

}

.catalog_breadcrumbs li{
  list-style: none url("../img/svg/icon-right-small.svg");
  margin-right: 0px;
  margin-left: 16px;
}

.catalog_breadcrumbs li:first-child{
  list-style: none;
  margin-right: 10px;
  margin-left: 0px;

}
.catalog_breadcrumbs a{
  color:#000;
}

.catalog_breadcrumbs {
  color:#000;
  font-size: 13px;
  line-height: 18px;
}

.title_filters{
  min-width: 200px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 20px;
}
.catalog_sorting{
  width: 700px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.title_sorting{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 10px 20px;


}
.catalog_sorting_items{
  list-style: none;
  display: flex;
padding: 0;
  margin: 0 18px 0 0;
}




.catalog_sorting_items li {
  margin-right: 40px;
  padding: 10px 0;
}

.catalog_sorting_items li:last-child {
  margin-right: 0px;
}

.catalog_sorting_items li:nth-last-child(2){
  margin-right: 21px;
}


.catalog_sorting_items li:first-child {
  margin-right: 75px;

}

.catalog_sorting_items li:nth-child(2) {
  margin-right: 67px;

}
.catalog_sorting_items li:nth-child(2) a{
  border-bottom: 1px dotted rgba(238, 54,67, 1);


}

.catalog_sorting_items a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:#000;
  opacity: 0.3;
}


.icon_dir{
  background: transparent no-repeat center;
  width: 10px;
  height: 10px;
}

.up{
  background-size: 10px 10px;
  background: url(../img/svg/icon-up-dir.svg) no-repeat center;
  opacity: 0.5;
}

.down{
  background-size: 10px 10px;
  background: url(../img/svg/icon-down-dir.svg) no-repeat center;
  opacity: 0.5;
}





.catalog_title{
  width: 913px;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  padding: 32px 0px 27px 30px;
  color: #32425c;
  margin: 0 auto 20px;
}


.catalog_columns{
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* Фильтр каталога*/
.catalog_filters{
  flex-basis: 220px;

}

.catalog_filters legend, .sidebar_price_title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.catalog_filters label{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.filter_brand_selection input[type=submit] {
  width: 140px;
  height: 38px;
  color: #000;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'PT Sans',Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* Карточки каталога*/

.catalog_goods_list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 700px;

}

.goods_card{
  width: 218px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-family: 'PT Sans',Arial, sans-serif;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.goods_card_content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.goods_prices{
  margin-top: auto;
}
.goods_card:nth-child(3n){
  margin-right: 0;

}

.goods_card:hover {
  box-shadow:0px 10px 25px 0px rgba(41,52,73,0.5);
}


.goods_card h3{
  font-size: 18px;
  line-height: 20px;
}


.goods_old_price{
  font-size: 17px;
  line-height: 18px;
  color: #999;
}

.goods_price{
  background: url("../img/svg/red-button.svg") no-repeat center;
  font-size: 17px;
  line-height: 18px;
  color: #fff;
  padding: 13px 40px 13px 36px;

}

.goods_btn_cart{
  display: block;
  width:135px;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border-radius: 5px;
  border-width: 0px;
  color: #fff;
  font-family:'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 0px 9px 0px;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 8px;
  position: relative;
}

.goods_btn_cart::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 10px;
  left:15px;
  opacity: 0.3;
}

.goods_btn_cart:hover::before{
  opacity: 1;

}

.goods_btn_cart:hover{
  background-color: #5fbb2d;
}


.goods_btn_cart img{
  opacity: 0.3;
  margin:0;
}

.goods_btn_cart img:hover{
   opacity: 1;
 }

.goods_btn_cart img:active{
  opacity: 1;
}

.goods_btn_cart:active{

  background-color: #518534;
}

.goods_btn_bookmark{
  display: block;
  width: 129px;
  border: solid 3px #63a63e;
  font-family:'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0px 6px 0px;
  margin:0 auto;
  border-radius: 5px;
  color:#32425c;
}

.goods_btn_bookmark:hover{
  border: 3px solid #32425c;
  color: #32425c;
}

.goods_btn_bookmark:active{
  border: 3px solid #c7cbd3;
  color: #c7cbd3;
}

.goods_img{
  display: block;
  width: 218px;
  height: 170px;
  position: relative;
}

 .overlay_new {
  position:absolute;
  top: 0;
  right:0;
   width: 60px;
  height: 60px;
}

.goods_buttons{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background:rgba(255,255,255, 1);
  padding-top:43px;
  display:none;
}
.goods_card:hover .goods_buttons{
  display:block;
}

.pagination_list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.pagination_list li{
  margin-right: 10px;
}
.pagination_item  a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
}

 .active {
  width:275px;
   text-align: left;
}

 .active a{
   text-align: left;
   padding-left: 25px;
 }

 .active a:hover{
   color:#000;
 }
.icon_logout {
  position: absolute;
  top:14px;
  left:245px;
}

.icon_user{
  position: absolute;
  top:14px;
  left:-10px;

}
.header_login_enter_btn .header_login_active a{
  color: #32425c;
  text-decoration: underline;
}

.header_login_active a:hover{
  color:#ee3643;
}

.header_login_active a:active{
  color: #32425c;
  opacity: 0.3;
}

.user_name::before{
  content:"155rrrr5";
  background: url(../img/svg/icon-user.svg) no-repeat center;
  background-size: 20px 18px;
  color: transparent;
}
.checkbox_goods,.radio_power {
  border:0 none;
  margin-left: 0;
  padding-left:0;
  position: relative;
}
.checkbox_goods input[type="checkbox"], .radio_power  input[type="radio"] {

}




