@font-face {
  font-family: "Cuprum";
  src: url(../fonts/Cuprum/Cuprum-Regular.ttf);
}
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/PTSans/PTC55F.ttf);
}


body{
  padding:0;
  margin: 0;
  font-family: 'Cuprum', 'Arial','Tahoma', sans-serif;
}

img{
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}
a {
  text-decoration: none;
}
q{
  quotes: "\00ab" "\00bb";
}


.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav a{
  text-transform: capitalize;
}

.container h3{
  text-transform: uppercase;
}
.goods_old_price {
  text-decoration: line-through;
}
.main_footer ul li a{
  text-transform: capitalize;
}
.goods_card {
  list-style-type:none;
}

.goods_btn{
  display:none;
}



/*Popup*/

.cart_popup{
  display: none;
  position: fixed;
  top:300px;
  left:50%;
  margin-left: -282px;
  width:620px;
  -webkit-box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  border-top: 7px solid #ee3643;
  background-color: #fff;
}

.cart_popup_show{
  display: block;

}

.cart_popup_content {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 59px;
  font-size: 30px;
  position: relative;
}
.cart_popup_content p{
  margin: 0 0 0 50px;
}

.cart_popup_btn {
  background-color: #f1f1f1;
  text-align: center;
  margin:0;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 37px;

}

.checkout_btn{
  width: 220px;
  height: 38px;
  padding: 11px 60px 10px 62px;
  margin-right: 20px;
}

.continue_btn {
  width: 220px;
  height: 38px;
  font-size: 14px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
  padding: 11px 47px 10px 44px;
  border-radius: 5px;
}

.cart_popup_close_img{
  margin-top: 9px;
  margin-right: 9px;
}

.cart_popup_mark_img {
  position: absolute;
  background: url(../img/svg/icon-mark.svg) no-repeat;
  top:60px;
  left:80px;
  width: 66px;
  height: 66px;
}



.write-us_popup{
  display: none;
  position: fixed;
  width:620px;
  -webkit-box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  box-shadow: 0px 20px 40px  rgba(0,0,0,0.75);
  border-top: 7px solid #ee3643;
  top:250px;
  left:50%;
  background-color: #fff;
  margin-left: -310px;
}

.write-us_popup_show{
  display: block;
}

.popup_close{
  position: absolute;
  width: 21px;
  height: 21px;
  right:9px;
  top: 9px;
  background: transparent url(../img/svg/icon-close.svg);
  border: none;
  cursor: pointer;
  font-size: 0;

}

.write-us_popup_form{
  width: 460px;
  margin: 37px auto 0;
  padding-bottom: 30px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  height: 100%;

}

.write-us_popup_form label{
  display: inline-block;
  margin-bottom: 13px;

}
.write-us_popup_input {
  display: inline-block;
  width:220px;
  margin-right: -4px;
  margin-bottom: 19px;

}

.write-us_popup_input input{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  border-radius: 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 220px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  border: 2px solid #b5b5b5;
}

.write-us_popup_input input:focus{
  border:2px solid #ee3643;
  outline: #ee3643 2px;
  -moz-outline-radius: 5px;
  -webkit-box-shadow: 0 0  1px 0px #ee3643;
  box-shadow: 0 0  1px 0px #ee3643;
}



.write-us_popup_input input::-webkit-input-placeholder {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:#a9a9a9;
}

.write-us_popup_input  input::-moz-placeholder, :-moz-placeholder{
  font-size: 13px;
  line-height: 18px;
  color:#a9a9a9;

}


.indent{
  margin-left: 20px;

}

.write-us_popup_btn{
  background-color: #f1f1f1;
  text-align: center;
  margin:0;
  text-transform: uppercase;
  padding-top: 37px;
  padding-bottom: 37px;


}

.write-us_popup_btn input[type="submit"] {
  padding: 10px 198px;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  width: 460px;
}

.write-us_popup_form textarea::-webkit-input-placeholder{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us_popup_form textarea::-moz-placeholder, :-moz-placeholder{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}


.write-us_popup_form textarea{
  width: 441px;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 9px;
  border-radius: 5px;
  overflow: hidden;
  line-height: 18px;
  font-size: 13px;
  border: 2px solid #b5b5b5;
}

.write-us_popup_form textarea:focus{
  border:2px solid #ee3643;
  outline: #ee3643 2px;
  -moz-outline-radius: 5px;
  -webkit-box-shadow: 0 0  1px 0px #ee3643;
  box-shadow: 0 0  1px 0px #ee3643;
}

.map_popup {
  display: none;
  position: fixed;
  width: 940px;
  height: 446px;
  top: 300px;
  left: 50%;
  -webkit-box-shadow: 0px 0px 16px rgba(47, 42, 43, 0.5);
  box-shadow: 0px 0px 16px rgba(47, 42, 43, 0.5);
  margin-left: -470px;
}

.map_popup_show {
  display: block;
}

.map_popup_close_img{
  position: absolute;
  top: 9px;
  right: 9px;

}



/*Header*/

.header{
  margin: 0 auto;
  background-color: #f3f7f8;
  width: 100%;
}

.top_header{
  background-color: #293449;
  margin-bottom: 20px;
  width: 1280px;
  margin: 0 auto;
}

.top_header_wrapper{
  margin: 0 auto;
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}
.top_header a{
  font-size: 17px;
  line-height: 1.06;
  letter-spacing: normal;
  color: #ffffff;
}

.top_header_logo{
  background-color: #ee3643;
  -webkit-box-shadow: 0px 5px 0 0 #b52933;
  box-shadow: 0px 5px 0 0 #b52933;
  text-align: center;
  padding: 12px 56px 8px 55px;

}

.top_header_logo:hover {
  background-color: #ca2c37;
}

.top_header_navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;


}
.top_header_navigation a{
  display: block;


}

.top_header_navigation a:hover{
  background-color: #212a3a;
}

.top_header_navigation a:active{
  opacity: 0.5;
  background-color: #161d29;

}

.top_header_search {
  fint-size: 17px;
  line-height: 18px;
  position: relative;
}

.top_header_search input {
  font: inherit;
  color: #fff;
  background-color: #293449;
  border-color: transparent;
  padding: 10px 30px 10px 47px;
  min-width: 189px;
}

.top_header_icon_search{
  position: absolute;
  top:12px;
  left: 17px;
  z-index: 100;
}



.top_header_search input:hover{
  background-color: #212a3a;
}

.top_header_search input:hover + .top_header_icon_search path{
  opacity: 1;

}

.top_header_search input:focus {
  background-color: #fff;
  color: #000;
}

.top_header_icon_search path{
  opacity: 0.3;
}


.top_header_search input:focus + .top_header_icon_search path{
  fill: #ee3643;
  opacity: 1;
}


.top_header_search input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color:#fff;
}

.top_header_search input::-moz-placeholder, :-moz-placeholder{
  font-size: 17px;
  line-height: 18px;
  color:#fff;
  opacity: 1;
}



.top_header_bookmark{
  position: relative;
  padding:12px 0px 8px 50px;
  width: 100px;

}
.top_header_bookmark::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 14px;
  height: 16px;
  top: 12px;
  left:18px;
}

.top_header_bookmark:hover::before {
  opacity: 1;
}

.top_header_bookmark:active::before{
  opacity: 0.5;

}

.top_header_cart{
  position: relative;
  padding:12px 0px 12px 50px;
  width: 100px;

}

.top_header_cart::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
  width: 15px;
  height: 15px;
  top: 12px;
  left:19px;
}

.top_header_cart:hover::before {
  opacity: 1;
}

.top_header_cart:active::before{
  opacity: 0.5;
}

.not_empty{
  background-color: #ee3643;
}



.top_header_navigation .top_header_cart_btn {
  background-color: #63a63e;
  padding:12px 0px 8px 21px;
  width: 129px;

}
.top_header_navigation .top_header_cart_btn:hover{
  background-color: #5fbb2d;
}

.top_header_navigation .top_header_cart_btn:active{
  background-color: #518534;

}


.main_header_wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 940px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto 30px;
}

.main_header_headline{
  background-color: #f3f7f8;
  font-style: italic;
  font-size:16px;
  line-height: 23px;
  color: #ee3643;
  margin-top: 30px;
  padding-left: 50px;

}

.main_header_info{
  margin-left: 61px;

}

.main_header_phone{
  min-width: 189px;
  border: solid 3px #ffffff;
  color: #ee3643;
  font-size: 21px;
  line-height: 1;
  padding-top: 9px;
  padding-bottom: 9px;
  display: block;
  position:relative;
  margin-top:25px;
  margin-bottom: 5px;
  padding-left: 75px;
}

.main_header_phone::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
  top:9px;
  left:15px;

}

.main_header_address{
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #32425c;
  margin: 0;
  padding: 0;
}
.header_login_wrapper{
  margin-left: 55px;

}

.my_orders, .private_office{
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  text-transform: inherit;
  margin-top:5px;
  display: inline-block;
  margin-left: 18px;
  margin-right: 15px;
}

.my_orders:hover, .private_office:hover{
  color: #ee3643;
}

.my_orders:active, .private_office:active{
  opacity: 0.3;
  color: #32425c;
}

.my_orders::after {
  position: absolute;
  content: "";
  top:5px;
  left: 90px;
  width: 4px;
  height: 4px;
  background: #32425c;
  border-radius: 50%;
}

.main_header_login{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 25px 0 0;
  margin: 0 0 0 auto;
}

.main_header_login li{
  list-style-type: none;
  height: 45px;
}

.main_header_login a{
  display: block;
  position: relative;
  padding: 12px 0;

}
.header_login_enter_btn a, .header_login_registration_btn a {
  font: inherit;
  color: #000;
  font-size: 21px;
  line-height: 1;
  text-transform: capitalize;
  text-align: center;

}


.header_login_enter_btn{
  background-color: #fff;
  min-width: 96px;
  padding-left: 25px;
}

.header_login_registration_btn{
  background-color: #fff;
  min-width: 150px;
  text-align: center;
  margin-left: 10px;
}

.header_login_registration_btn a{
  text-align: center;

}
.header_login_enter_btn a:hover{
  color: #ee3643;
}
.header_login_enter_btn a:active{
  opacity: 0.3;
  color:black;
}
.icon_login {
  position: absolute;
  top:14px;
  left:-10px;
}

.header_login_registration_btn a:hover{
  color: #ee3643;

}

.header_login_registration_btn a:active{
  opacity: 0.3;
  color:black;
}

.header_login_enter_btn a:hover path{
  fill:#6c778a;
}


.login_img{
  margin-top:14px;
}
a svg:hover .login_img{
  fill: #32425c;
}

/*Главное меню*/

.main_header{
  margin-bottom: 20px;
  padding-bottom: 60px;
}

.main_header_navigation{
  margin: 0 auto;
  width: 940px;
  -webkit-box-shadow: inset 0px -5px 0 0 #293449;
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;

}
.main_header_navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 20px;
}

.header_site_navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.header_site_navigation a{
  display: block;
  padding: 21px 31px;
  font-size: 17px;
  line-height: 1;
  color: #ffffff;
  text-transform: capitalize;
}

.header_site_navigation a:hover{
  background-color: #1d2739;
}

.header_site_navigation a:active{
  background-color: #1d2739;
  opacity: 0.5;
}


.index_columns{
  width:940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0 auto 80px;

}

.about h3, .contacts h3{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.about p, .contacts p{
  font-family:'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;

}
.contacts p{
  margin-bottom: 30px;

}
.about ul {
  list-style-type: none;
}
.block{
  display:block;
}
.btn{
  background-color: #ee3643;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover {
  background-color: #ca2c37;
}

.btn:active{
  background-color: #ba2732;

}
.about .btn {
  padding: 12px 0px;
  width: 220px;
  margin-top: 51px;
}
.about_items{
  padding: 0;
  margin: 0 0 35px;
}

.about_item{
  font-size: 18px;
  line-height: 20px;
  position: relative;
  padding-left: 35px;
  margin-top: 20px;
}



.about_item::before{
  content: "";
  position: absolute;
  background-image: url(../img/content/dash.png);
  width: 25px;
  height: 2px;
  top:8px;
  left:0px;
}


.contacts .btn{
  padding: 12px 0;
  margin-top: 40px;
}

/*Offers*/

.offers{
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 60px;
}

.right_flex{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

}
.holder{
  width: 300px;
  height: 103px;
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;

}

.holder p{
  margin-top: 0;
  margin-left: 25px;
  margin-bottom: 20px;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;

}

.holder .btn {
  background-color: rgba(0,0,0,0.1);
}

.holder .btn:hover {
  background-color: rgba(0,0,0,0.2);
}

.holder .btn:active {
  background-color: rgba(0,0,0,0.3);
}
.holder a{
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  width: 135px;
  margin-left: 25px;
  padding: 10px 0px;
}

.materials {
  background: #ffbf47 url(../img/svg/icon-1.svg) no-repeat 210px 25px;
  margin-right: 20px;
}
.instrument{
  background: #3bbce3 url(../img/svg/icon-2.svg) no-repeat 210px 25px;
  margin-right: 20px;
}

.technicals{
  background: #dc91d8 url(../img/svg/icon-3.svg) no-repeat 210px 25px;
}

.discount{
  background: #8ed78f url(../img/svg/icon-4.svg) no-repeat 210px 25px;
}

.delivery {
  background: #ffc047 url(../img/svg/icon-5.svg) no-repeat 210px 25px;

}
.offers_slider {
  width: 620px;
}

.slide{
  position: relative;
  display: none;
}
.slide_show{
  display: block;
}

.offers_slider h2{
  position: absolute;
  color: #fff;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  left: 25px;
  top: 25px;
}

.offers_slider p {
  position: absolute;
  color: #fff;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  left: 25px;
  top:45px;
}

.offers_slider a{
  position: absolute;
  bottom:25px;
  left:25px;
  width: 195px;
  text-transform: uppercase;
  padding: 10px 0;

}
.button{
  position: absolute;
  background-color: transparent;
  border: transparent;
  cursor: pointer;

}
.slider_button_back{
  position: absolute;
  background: url(../img/svg/icon-left.svg) no-repeat;
  width: 22px;
  height: 40px;
  top: 115px;
  left: 25px;
}

.slider_button_next{
  position: absolute;
  background: url(../img/svg/icon-right.svg) no-repeat;
  width: 22px;
  height: 40px;
  top: 115px;
  right: 25px;
}


/*Popular goods*/

.popular_goods_head, .popular_brands_head{
  background-color: #f9f5f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;

}
.popular_goods_head h2, .popular_brands_head h2{
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 30px;
  line-height: 1;
  color: #32425c;
  text-transform: uppercase;
  margin: auto 0 auto 30px;
}

.all_popular_goods, .all_popular_brands{
  padding: 10px 55px;
  height:18px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 30px;
}

.all_popular_goods a, .all_popular_brands a {
  text-decoration: none;
}

.brand_box_list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

}

.brand_box_item{
  width: 218px;
  height: 145px;
  border: solid 1px #eaeaea;
  background-color: #ffffff;
  margin-right: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.brand_box_item:nth-child(4n){
  margin-right: 0;
}

.brand_box_item:hover {
  -webkit-box-shadow:0 10px 25px 0 rgba(41,52,73,0.5);
  box-shadow:0 10px 25px 0 rgba(41,52,73,0.5);
}

.brand_box_item:active {
  -webkit-box-shadow:0 4px 10px 0 rgba(41,52,73,0.5);
  box-shadow:0 4px 10px 0 rgba(41,52,73,0.5);

}
.brand_box_item:active{
  opacity: 0.3;
  -webkit-box-shadow:0 4px 10px 0 rgba(41,52,73,0.8);
  box-shadow:0 4px 10px 0 rgba(41,52,73,0.8);
}

/*Services*/

.services {
  background-color: #f4f7f9;
  padding-top: 60px;
}
.services h2{
  font-family: 'Cuprum',Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
  margin: 0 0 40px;

}

.services p{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.services_wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-bottom: 100px;
  padding-top: 70px;
  position: relative;
}

.services_block{
  position: relative;
}



.services_check_input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.services_control label{
  display: block;
  background-color: #32425c;
  color: #fff;
  min-width: 80px;
  font-family: 'Cuprum', Arial, sans-serif ;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  padding:15px 138px 15px 22px;
  -webkit-box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
  box-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.services_list{

  margin-left: 80px;
}

.services_description h2{
  color: #32425c;
  font-family: inherit;
  font-size: 36px;
  line-height: 36px;
  margin: 0 0 20px 0;


}
.delivery_img{
  position: absolute;
  width: 468px;
  height: 261px;
  bottom: 0;
  right: 0;
  background-image: url(../img/content/delivery.png);
  background-repeat: no-repeat;

}

.guarantee_img{
  position: absolute;
  width: 389px;
  height: 283px;
  bottom: 0;
  right: 0;
  background-image: url(../img/content/guarantee.png);
  background-repeat: no-repeat;

}

.credit_img{
  position: absolute;
  width: 465px;
  height: 265px;
  bottom: 0;
  right: 0;
  background-image: url(../img/content/credit.png);
  background-repeat: no-repeat;

}

.credit{
  display: inline-block;
  padding:10px 45px;
  margin-top: 30px;

}

.services_control{
  position: relative;

}
.services_control::before {
  content: "";
  position: absolute;
  top: -45px;
  left: 230px;
  width: 10px;
  height: 279px;
  background-image: url(../img/content/border-left.png);

}

.service_delivery, .service_guarantee, .service_credit{
  display: none;
}

#delivery:checked ~ .services_control label[for="delivery"],
#guarantee:checked ~ .services_control label[for="guarantee"],
#credit:checked ~ .services_control label[for="credit"]{
  background-color: #fff;
  color: #32425c;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#delivery:checked ~ .service_delivery,
#guarantee:checked ~ .service_guarantee,
#credit:checked ~ .service_credit{
  display: block;
}

/*Footer*/

.footer_logo{
  width: 220px;
  background-color: #ee3643;
  -webkit-box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  text-align: center;
  height:45px;
  padding-top: 23px;


}
.wrapper_footer_navigation{
  width: 940px;
  margin: 0 auto;
  margin-bottom: 50px;

}

.footer_navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}



.footer_navigation ul{
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
}

.footer_site_navigation li{
  margin-left: 60px;
  margin-top: 35px;

}

.footer_site_navigation a {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
}
.footer_site_navigation a:hover{
  text-decoration: underline;

}

.footer_site_navigation a:active{
  text-decoration: none;
  opacity: 0.5;

}

.main_footer{
  margin-top: 25px;
}

.main_footer_contacts{
  color: #fff;
  font-size:18px;
  line-height: 24px;
}

.main_footer_offers{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

.main_footer_offers ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer_offers_navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_offers_navigation li{
  margin-left: 60px;
}

.footer_offers_navigation a{
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.footer_offers_navigation a:hover{
  text-decoration: underline;
}

.footer_offers_navigation a:active{
  text-decoration: none;
  opacity: 0.5;
}


.main_footer{
  background-color: #32425c;
}
.footer_info{
  background-color: #293449;
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper_footer_info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;


}

.footer_copyright{
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.footer_social_links{
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 133px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 160px;
}

.footer_social_links li{
  list-style-type: none;
}

.social_link a {
  background-color: #212a3a;
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.social_link a:hover {
  background-color: #ee3643;

}

.footer_feedback{
  margin-left: 120px;

}

.footer_developer{
  margin-left: auto;

}
.footer_feedback, .footer_developer{
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.footer_feedback_mail a, .footer_developer_site a{
  color: #ffd180;
}

.footer_feedback_mail a:hover{
  text-decoration: underline;
}

.footer_feedback_mail a:active{
  color: #ee3643;
  text-decoration: none;
}

.footer_developer_site a:hover{
  text-decoration: underline;
}



.footer_developer_site a:active{
  color: #ee3643;
  text-decoration: none;
}

.popular_goods, .popular_brands, .services_content, .wrapper_footer_info, .main_footer_offers{
  width:940px;
  margin: 0 auto;
}






/*Каталог*/
/*Breadcrumbs*/

.catalog_breadcrumbs{
  width: 940px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
  font-family: "PT Sans", Arial, sans-serif;

}

.catalog_breadcrumbs li{
  list-style: none url("../img/svg/icon-right-small.svg");
  margin-right: 0px;
  margin-left: 16px;
}

.catalog_breadcrumbs li:first-child{
  list-style: none;
  margin-right: 10px;
  margin-left: 0px;

}
.catalog_breadcrumbs a{
  color:#000;
}

.catalog_breadcrumbs {
  color:#000;
  font-size: 13px;
  line-height: 18px;
}

.title_filters{
  min-width: 200px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  padding: 10px 0px 10px 20px;
  border-radius: 5px;
}



.slider_range{
  background-color: #f7f3ec;
  border-radius: 5px;
  height: 80px;
  margin-bottom: 10px;
  position: relative;
}
.range_control{
  position: relative;
}
.range {
  position: absolute;
  height: 2px;
  background: #d7dcde;
  width: 75%;
  top: 40px;
  left: 40px;
}

.active_range{
  position: absolute;
  height: 2px;
  background: #00ca74;
  width: 60%;
  top: 40px;
  left: 40px;

}

.line-range {
  height: 2px;
  background: #00ca74;
  width: 90%;
}


.slider_check{
  position: absolute;
  top: 220px;
  left: 300px;
}
.slider_check_input{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}

.check_slider_left{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.check_slider_right{
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.slider_check_input:checked + .check_slider_left{
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slider_check_input:checked +span::before{
  content: "";
  background-color: #ee3643;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;


}

.circle {
  position: absolute;
  top: 31px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 #e0ddd8;
  box-shadow: 0 2px 2px 0 #e0ddd8;
}
.circle_right {
  left: 160px;
}

.price_range input {
  border: none;
  width: 85px;
  min-width: 50px;
  padding: 8px 5px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  border-radius: 5px;
  background-color: #f7f3ec;
  margin-bottom: 25px;
}
.max_price {
  margin-right: 0;
}

.price_range  span {
  padding: 0 4px;
  font-size: 16px;
  line-height: 18px;
}

.filter_price_title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

}
.catalog_sorting{
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
  border-radius: 5px;
}
.title_sorting{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 10px 0 10px 20px;
}
.catalog_sorting_items{
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0 18px 0 0;
}




.catalog_sorting_items li {
  margin-right: 40px;
  padding: 10px 0;
}

.catalog_sorting_items li:last-child {
  margin-right: 0px;
}

.catalog_sorting_items li:nth-last-child(2){
  margin-right: 21px;
}


.catalog_sorting_items li:first-child {
  margin-right: 75px;
  color: #ee3643;

}

.catalog_sorting_items li:nth-child(2) {
  margin-right: 67px;

}


.catalog_sorting_items a{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color:#000;
  opacity: 0.3;
}


.sorting_item{
  position: relative;
}

.sorting_item_active a{
  color: #ee3643;
  opacity: 1;
}

.sorting_item_active:hover{
  color: black;
}


.sorting_item_active a:hover{
  color: black;
}


.sorting_item:not(:first-child)::before{
  content: "";
  position: absolute;
  opacity: 1;
  width:100%;
  height: 1px;
  border-top: 1px dotted #ee3643;
  background-repeat: repeat;
  top:27px;
}

.sorting_item_active::before{
  content: "";
  position: absolute;
  opacity: 1;
  width:100%;
  height: 1px;
  background-repeat: repeat;
  top:25px;
}

.sorting_item:active::before{
 display: none;
}

.sorting_item a:active{
  color: #ee3643;

}

.sorting_item:hover::before{
  border-top: 1px solid #ee3643;
}

.sorting_item a:hover{
  opacity: 1;
}
.icon_dir_up{
  background-size: 10px 10px;
  fill: #c5c5c5;
  background: transparent no-repeat center;
  width: 10px;
  height: 10px;
}

.icon_dir_down path{
  background-size: 10px 10px;
  fill: #c5c5c5;
  background: transparent no-repeat center;
  width: 10px;
  height: 10px;

}

.icon_dir_up:hover, .icon_dir_down:hover svg path{
  fill: #231F20;
}

.icon_dir_up_active path {
  fill:#ee3643;
  opacity: 1;
}

.icon_dir_up_active:hover path{
  fill: #231F20;
}


.catalog_title{
  width: 913px;
  background-color: #f2f6f8;
  font-size: 30px;
  line-height: 30px;
  padding: 32px 0px 27px 30px;
  color: #32425c;
  margin: 0 auto 20px;
}


.catalog_columns{
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

}

/* Фильтр каталога*/
.catalog_filters{
  -ms-flex-preferred-size: 220px;
  flex-basis: 220px;

}

.catalog_filters legend, .sidebar_price_title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.catalog_filters{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}



.filter_brand_selection input[type=submit] {
  width: 140px;
  height: 38px;
  color: #000;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  text-transform: uppercase;
  font-family: 'PT Sans',Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;

}

/* Карточки каталога*/

.catalog {

  margin-left: 20px;

}

h3 .goods_title{
  padding: 0;
}

.catalog_goods_list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 700px;
}

.goods_card{
  width: 218px;
  min-height: 318px;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-family: 'PT Sans',Arial, sans-serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.goods_card_content{
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 218px;
}
.goods_prices{
  margin-top: auto;
}
.goods_card:nth-child(3n){
  margin-right: 0;
}

.main:nth-child(3) {
  margin-right: 20px;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  flex:1;
  flex-grow: 1;
  margin: 20px 0;
  padding: 0;
  width: 960px;


}

.goods_card:hover {
  -webkit-box-shadow:0px 10px 25px 0px rgba(41,52,73,0.5);
  box-shadow:0px 10px 25px 0px rgba(41,52,73,0.5);
}


.goods_card h3{
  font-size: 18px;
  line-height: 20px;
  padding: 0;
  margin: 0;
}




.goods_old_price{
  font-size: 17px;
  line-height: 18px;
  color: #999;
  padding: 0;
  margin: 0;
  display: none;
}

.goods_old_price_show{
  display: block;

}
.goods_price{
  font-size: 17px;
  line-height: 18px;
  position: relative;
  width: 80px;
  margin: 10px auto 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.goods_price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.goods_btn_cart{
  display: block;
  width:135px;
  -webkit-box-shadow: inset 0px -3px 0 0 #367315;
  box-shadow: inset 0px -3px 0 0 #367315;
  background-color: #63a63e;
  border-radius: 5px;
  border-width: 0px;
  color: #fff;
  font-family:'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 9px 0px 9px 0px;
  margin-right:auto;
  margin-left: auto;
  margin-bottom: 8px;
  position: relative;
}

.goods_btn_cart::before{
  content: "";
  position: absolute;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  top: 10px;
  left:15px;
  opacity: 0.3;
}

.goods_btn_cart:hover::before{
  opacity: 1;

}

.goods_btn_cart:hover{
  background-color: #5fbb2d;
}


.goods_btn_cart img{
  opacity: 0.3;
  margin:0;
}

.goods_btn_cart img:hover{
  opacity: 1;
}

.goods_btn_cart img:active{
  opacity: 1;
}

.goods_btn_cart:active{

  background-color: #518534;
}

.goods_btn_bookmark{
  display: block;
  width: 129px;
  border: solid 3px #63a63e;
  font-family:'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0px 6px 0px;
  margin:0 auto;
  border-radius: 5px;
  color:#32425c;
}

.goods_btn_bookmark:hover{
  border: 3px solid #32425c;
  color: #32425c;
}

.goods_btn_bookmark:active{
  border: 3px solid #c7cbd3;
  color: #c7cbd3;
}

.goods_img{
  display: block;
  width: 218px;
  height: 170px;
  position: relative;
}

.overlay_new {
  display: none;
  position:absolute;
  top: 0;
  right:0;
  background: url(../img/content/new-flag.png) no-repeat;
  width: 60px;
  height: 60px;
}

.overlay_new_show{
  display: block;

}

.goods_buttons{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  top:0;
  background:rgba(255,255,255, 1);
  padding-top:43px;
  display:none;
  width: 218px;
}
.goods_card:hover .goods_buttons{
  display:block;
}

.pagination_list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;
  margin-top: 30px;
}

.pagination_list li{
  margin-right: 10px;
}

.pagination_list:last-child{
  margin-right: 0px;
}
.pagination_item  a{
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.38;
  color: #000000;
  text-transform: uppercase;
  display: block;
  padding: 9px 14px;
  border: 1px solid #d7dcde;
  background-color: #fff;
  border-radius: 5px;
}

.pagination_item a:hover {
  border: 1px solid #bdc6ca;
}

.pagination_item a:active{
  border: 1px solid #ee3643;

}

.pagination-item-current a {
  background-color: #ee3643;
  color: #fff;

}

.active {
  width:244px;
  text-align: left;
}

.active a{
  text-align: left;
  padding-left: 25px;
}

.active a:hover{
  color:#000;
}
.icon_logout {
  background-color: #fff;
  padding-right: 10px;
}

.icon_logout a:hover path{
  fill: #32425c;
}

.icon_logout a:active path {
  opacity: 0.3;

}
.icon_user{
  position: absolute;
  top:14px;
  left:-10px;

}
.header_login_enter_btn .header_login_active a{
  color: red;
  text-decoration: underline;
}

.header_login_active a:hover{
  color:#ee3643;
}

.header_login_active a:active{
  color: #32425c;
  opacity: 0.3;
}


.checkbox_goods,.radio_power {
  border:0 none;
  margin: 0;
  padding:0;


}

.manufactured, .power{
  border-top:1px solid #e5e5e5;
  padding: 20px 0 10px 0;


}
.radio_power{
  margin-bottom: 45px;

}
.checkbox_goods legend, .radio_power legend{
  margin-bottom: 15px;
}

.brand_input, .power_input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}


.check_brand, .radio_power label {
  display: block;
  margin-left: 35px;
  margin-bottom: 20px;
  position: relative;
}

.check_box {
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
  margin-left: -35px;
  background-repeat: no-repeat;
  top:-2px;
  left:0;
}

.radio_box {
  position: absolute;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-off.svg);
  margin-left: -35px;
  background-repeat: no-repeat;
  top:-2px;
  left:0;
}

.brand_input:checked + * .check_box {
  background-image: url(../img/svg/checkbox-on.svg);
  width: 27px;
  height: 23px;
}

.power_input:checked + * .radio_box{
  background-image: url(../img/svg/radio-on.svg);
  width:25px;
  height: 25px;
}

.brand_input:disabled + * .check_box +span{
  opacity: 0.4;
}

.power_input:disabled + * .radio_box +span{
  opacity: 0.4;
}

.brand_input:disabled + * .check_box{
  opacity: 0.3;
}

.power_input:disabled + * .radio_box{
  opacity: 0.3;
}



.continue_btn {
  width: 220px;
  height: 38px;
  font-size: 14px;
  background-color: #fff;
  padding: 11px 47px 10px 44px;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;


}


